{{#each articles}}
    <div class="col- articles-single-article">
        <a href="#/article/58ce9173d9a94c00072b5a95">
            <div class="single-article-image-containter">
                <div class="single-article-category">
                    {{category}}
                </div>
                <img class="single-article-image" src="{{image}}">
                <div class="single-article-date">
                    <span>{{getMonthName creationDate }}</span>
                    <span> {{getDayNumber creationDate}}</span>
                </div>
            </div>

            <div class="single-article-title" title="Google told to take action on hate videos as advertiser ratchets up pressure">
                {{title}}
            </div>

            <div class="single-article-author">
                AUTHOR {{owner.username}}
            </div>

            <div class="single-article-content">
                {{description}}
            </div>

            <img class="bottom-line" src="/public/images/bottom-line.jpg">
        </a>
    </div>
{{/each}}